.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  max-height: 800px;
  height: 100dvh;
  width: 100vw;
  background-color: #02043a;
  padding: 30px 20px;
  border-radius: 20px;
  background-color: white;
  row-gap: 20px;
}

@media (max-width: 800px) {
  .container {
    border-radius: 0;
    max-width: none;
    max-height: none;
  }
}
