.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  row-gap: 10px;
}

.inputContainer {
  background-color: rgb(125, 134, 219, 32%);
  display: flex;
  align-items: center;
  column-gap: 10px;
  border-radius: 40px;
  overflow: hidden;
  padding: 10px 15px;
  width: 100%;
  flex-shrink: 0;
}

.inputContainer button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.inputContainer input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: white;
  font-weight: 300;
  font-size: 16px;
  text-align: right;
  direction: rtl;
}
.inputContainer input::placeholder {
  color: white;
  font-weight: 300;
}

.warningText {
  color: red;
  font-size: 13px;
  margin-top: -10px;
  animation: shake 0.3s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
